__pycache__
*.log
/node_modules
.vscode
*.zip
*.xlsx
*.log
/build
/vue-vite1

/vue-vite
*.spec
*.txt
/template
/dist
*.exe
*.bat
/所有权资料
/pk/template
/upload
/send
test
log
static
*.cpg
*.dbf
*.prj
*.sbx
*.sbn
*.shp
*.shx
*.shp.xml
*.xls